<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
</head>

<body>
    <h1>
        <%= error %>
    </h1>
    <p>Sorry, the page you're trying to access does not exist or is not available.</p>
    <p> Please go back to <a href="https://appbar-server.herokuapp.com/">main page</a> </p>
</body>

</html>